doctype html
html(lang='en')
  head
    title Cats Directory
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Cats Directory
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th ID
            th Name
        tbody
          each cat in cats
            tr
              td #{cat.cat_id}
              td #{cat.cat_name}
        tfoot
          tr
            th(colspan='2')
    footer
      p © #{new Date().getFullYear()} Rupeek